:root{
    /* --hue-color: 186; */
    --primeira-cor: #3E7D84;
    --primeira-cor-light: #a0c1c5;
    --segunda-cor: #455D85;
    --segunda-cor-light: #667185;
    --terceira-cor: #388561;
    --quarta-cor:#856931;
    --quinta-cor: #388561;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--primeira-cor);
    margin-left: 4vh;
    margin-right: 4vh;
}

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #FFF;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: "Roboto", sans-serif;
    transition: 0.6s ease-out;
    box-shadow: 2px 2px 5px 0px black;
}

.campo-pesquisa{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.campo-pesquisa input{
    color: var(--segunda-cor);
    width: 70%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 12px;
    text-transform: capitalize;
}

.campo-pesquisa input::placeholder{
    color: var(--segunda-cor-light);
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.btPesquisa{
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #000;
    background: var(--primeira-cor-light);
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s;
}
.btPesquisa:hover{
    color: #FFF;
    background: var(--primeira-cor);
}
.btLocalizacao{
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    background: none;
    transition: 0.4s;
}
.btLocalizacao:hover{
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    transition: 0.4s;
    color: #FFF;
    background: var(--primeira-cor);
}
.btLocalizacaoHighlight{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #000;
    background: var(--primeira-cor-light);
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s;
}

.campo-pesquisa i{
    position: absolute;
    color: #000;
    font-size: 28px;
}
.clima-box{
    text-align: center;
}
.clima-box img{
    width: 60%;
    margin-top: 30px;
}
.temperaturas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clima-box .temperatura{
    position: relative;
    color: var(--segunda-cor);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}
.clima-box .temperatura span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}
.clima-box .descricao{
    color: var(--primeira-cor);
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.clima-detalhes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.clima-detalhes .umidade, .clima-detalhes .vento{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}
.clima-detalhes .umidade{
    padding-left: 20px;
    justify-content: flex-start;
}
.clima-detalhes .vento{
    padding-right: 20px;
    justify-content: flex-end;
}
.clima-detalhes i{
    color: var(--primeira-cor);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;    
}
.clima-detalhes span{
    color: var(--primeira-cor);
    font-size: 22px;
    font-weight: 500;
}
.autocomplete-cidades{
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    transition: 1s linear;
}
.autocomplete-cidades span{
    font-size: 20px;
    font-weight: 600;
    /* width: 100%; */
    text-align: center;
    outline: auto;
    padding: 11px;
    cursor: pointer;
    margin: 2px;
}
.autocomplete-cidades span strong{
    color:var(--primeira-cor);
}
.autocomplete-cidades span:hover{
    background: #3e7d846b;
}
.oculta-tela{
    display: none !important;
}
.nao-encontrado{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}
.nao-encontrado img{
    width: 70%;
}
.nao-encontrado p{
    color: var(--primeira-cor);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.carregando{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70px;
    display: none;
}
.carregando p{
    color: var(--primeira-cor);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.clima-box, .clima-detalhes{
    scale: 0;
    opacity: 0;
}
.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

.tooltip .tooltipTexto {
    visibility: hidden;
    /* width: 120px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    
    opacity: 0;
    transition: 0.2s ease-in;
    position: fixed;
    z-index: 1;
    /* transform: translate(-60%, -30%); */
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.tooltip:hover .tooltipTexto {
    visibility: visible;
    opacity: 1;
    margin-top: -100px;
}
.tooltip .tooltipTexto i{
    transform: rotate(180deg);
}

@keyframes fadeIn {
    to{
        scale: 1;
        opacity: 1;
    }
}

@media only screen and (max-width: 500px) {
    .campo-pesquisa input{
        font-size: 18px;
    }
    .campo-pesquisa input::placeholder{
        font-size: 18px;
    }
}

@media only screen and (max-width: 340px) {
    .clima-detalhes{
        display: block;
    }
    .clima-detalhes .umidade, .clima-detalhes .vento{
        padding-left: 0px;
        justify-content: space-between;
        height: 80px;
    }
    .clima-detalhes span{
        font-size: 15px;
    }
    .clima-detalhes i{
        font-size: 15px;
    }
}

