:root{
    /* --hue-color: 186; */
    --primeira-cor: #3E7D84;
    --primeira-cor-light: #a0c1c5;
    --segunda-cor: #455D85;
    --segunda-cor-light: #adb1b9;
    --terceira-cor: #455D85;
    --cor-icones: #000;
    --cor-fundo: #fff;
    --cor-fundo-darker:#94bec3;
    --cor-temperatura-min: #418F9C;
    --cor-temperatura-max: #c72d2d;
}
body.tema-escuro{
    --primeira-cor: #3f3e84;
    --primeira-cor-light: #b4bedf;
    --segunda-cor: #c8c8c8;
    --segunda-cor-light: #667185;
    --terceira-cor: #c8c8c8;
    --cor-icones: #fff;
    --cor-fundo: #403d4d;
    --cor-fundo-darker:#2d2b36;
    --cor-temperatura-min: #418F9C;
    --cor-temperatura-max: #c72d2d;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--primeira-cor);
    margin-left: 4vh;
    margin-right: 4vh;
    transition: 0.6s ease-out;
}

.container{
    position: relative;
    width: 400px;
    height: 105px; 
    background: var(--cor-fundo);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: "Roboto", sans-serif;
    transition: 0.6s ease-out;
    box-shadow: 2px 2px 5px 0px black;
}

.campo-pesquisa{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.campo-pesquisa input{
    color: var(--segunda-cor);
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: capitalize;
    background: none;
}

.campo-pesquisa input::placeholder{
    color: var(--segunda-cor-light);
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.clima-dias{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    flex-direction: column;
    color: var(--segunda-cor);
    /* background: var(--cor-fundo-darker);
    padding-left: 22px;
    border-radius: 7%;
    padding-right: 22px; */
}
.clima-dias p{
    transition: 0.3s;
    padding: 10px;
    text-align: start;
    width: fit-content;
    background: var(--cor-fundo-darker);
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 5px;
}
.clima-dias p:hover{
    background: black;    
}
.clima-dias p i{
    margin: 4px;
    transition: 0.3s;
    transform: rotate(180deg);
}
.clima-dias img{
    width: 35px;
}
.clima-dias .clima-dia{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: var(--cor-fundo-darker);
    padding: 14px;
    border-radius: 18px;    
}
.clima-dia .dia{
    background: var(--cor-fundo);
    width: 60px;
    text-align: center;
    height: 60px;
    align-content: center;
    display: grid;
    border-radius: 50%;
}
.temperaturas-dia{
    display: flex;
    align-items: center;
}
.temperaturas-dia span{
    display: flex;
    margin-left: 15px;
    justify-content: flex-end;
}
.temperaturas-dia span i{
    margin-left: 5px;
}
.temp-max{
    color: var(--cor-temperatura-max);
}
.temp-min{
    color: var(--cor-temperatura-min);
}

button{
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    min-width: 50px;
    background: var(--primeira-cor-light);
    font-size: 22px;
    border-radius: 50%;
    transition: 0.4s;
    color: var(--cor-icones);
}
button:hover{
    color: #FFF;
    background: var(--primeira-cor);
}
.btLocalizacao{    
    background: none;
}
.btLocalizacao:hover{
    font-size: 25px;
}
.btTema{
    box-shadow: 1px 1px 4px black;
    position: absolute;
    top: 15px;
    right: 15px;
}

.campo-pesquisa i{
    position: absolute;
    color: #000;
    font-size: 28px;
}
.clima-box{
    text-align: center;
}
.clima-box img{
    width: 60%;
    margin-top: 30px;
}
.temperaturas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clima-box .temperatura{
    position: relative;
    color: var(--segunda-cor);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}
.clima-box .temperatura span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}
.clima-box .descricao{
    color: var(--segunda-cor);
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.clima-detalhes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.clima-detalhes .umidade, .clima-detalhes .vento{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}
.clima-detalhes .umidade{
    padding-left: 20px;
    justify-content: flex-start;
}
.clima-detalhes .vento{
    padding-right: 20px;
    justify-content: flex-end;
}
.clima-detalhes i{
    color: var(--cor-icones);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;    
}
.clima-detalhes span{
    color: var(--segunda-cor);
    font-size: 22px;
    font-weight: 500;
}
.clima-detalhes p{
    color: var(--terceira-cor);
}
.autocomplete-cidades{
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    transition: 1s linear;
}
.autocomplete-cidades span{
    font-size: 20px;
    font-weight: 600;
    /* width: 100%; */
    text-align: center;
    outline: auto;
    padding: 11px;
    cursor: pointer;
    margin: 2px;
}
.autocomplete-cidades span strong{
    color: var(--terceira-cor);
}
.autocomplete-cidades span:hover{
    background: var(--segunda-cor-light);
}
.oculta-tela{
    display: none !important;
}
.nao-encontrado{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}
.nao-encontrado img{
    width: 70%;
}
.nao-encontrado p{
    color: var(--segunda-cor);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.carregando{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70px;
    display: none;
}
.carregando p{
    color: var(--segunda-cor);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.clima-box, .clima-detalhes{
    scale: 0;
    opacity: 0;
}
.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

.tooltip span {
    visibility: hidden;
    /* width: 120px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    
    opacity: 0;
    transition: 0.2s ease-in;
    position: fixed;
    z-index: 1;
    /* transform: translate(-60%, -30%); */
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.tooltip:hover .tooltipTextoUp {
    visibility: visible;
    opacity: 1;
    margin-bottom: 100px;
}
.tooltip:hover .tooltipTextoLeft {
    visibility: visible;
    opacity: 1;
    margin-left: -170px;
}
.tooltipNomeCidade{
    text-transform: capitalize;
}
.tooltip:hover .tooltipNomeCidade{
    font-weight: 900;
    margin-top: -70px;
}
.tooltip .tooltipTextoUp i{
    position: absolute;
    color: #000;
    font-size: 28px;
    transform: rotate(180deg);
}
.tooltip .tooltipTextoLeft i{
    position: absolute;
    color: #000;
    margin-left: 88px;
    transform: rotate(90deg);
}

@keyframes fadeIn {
    to{
        scale: 1;
        opacity: 1;
    }
}

@media only screen and (max-width: 500px) {
    .campo-pesquisa input{
        font-size: 17px !important;
    }
    .campo-pesquisa input::placeholder{
        font-size: 17px;
    }
}

@media only screen and (max-width: 340px) {
    .clima-detalhes{
        display: block;
    }
    .clima-detalhes .umidade, .clima-detalhes .vento{
        padding-left: 0px;
        justify-content: space-between;
        height: 80px;
    }
    .clima-detalhes span{
        font-size: 15px;
    }
    .clima-detalhes i{
        font-size: 15px;
    }
}
@media only screen and (max-height: 760px) {
    .container{
        scale: 0.8;
    }
}

